@use "globals" as *;

header {
  background-color: $background-header;

  .container {
    padding-left: $container;
    padding-right: $container;
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;

    @include respond-to-medium {
      padding-left: 10px;

      gap: 20px;
      justify-content: center;
    }
    @include respond-to-small {
      padding-left: 10px;
      padding-right: 10px;
      gap: 20px;
    }

    .titulo {
      font-family: $copperplate-h1-font-family;
      font-weight: $copperplate-h1-font-weight;
      font-size: $copperplate-h1-font-size;
      letter-spacing: $copperplate-h1-letter-spacing;
      line-height: $copperplate-h1-line-height;
      font-style: $copperplate-h1-font-style;
      @include respond-to-small {
        max-width: 180px;
      }
      p {
        @include respond-to-small {
          text-align: center;
          font-family: $copperplate-mobile-font-family;
          font-weight: $copperplate-mobile-font-weight;
          font-size: $copperplate-mobile-font-size;
          letter-spacing: $copperplate-mobile-letter-spacing;
          line-height: $copperplate-mobile-line-height;
          font-style: $copperplate-mobile-font-style;
        }
      }
    }

    .grupobotones {
      padding-left: 121px;
      display: flex;
      gap: 34px;

      @include respond-to-small {
        width: 300px;
        padding-left: 15%;
        gap: 15px;
      }

      @include respond-to-medium {
        padding-left: 60px;
        gap: 20px;
      }
    }
  }
}
