@use "globals" as *;
label {
  font-weight: $bookshelf-symbol-h2-font-weight;
  font-size: $bookshelf-symbol-h2-font-size;
  letter-spacing: $bookshelf-symbol-h2-letter-spacing;
  line-height: $bookshelf-symbol-h2-line-height;
}
